# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Dependencies
vendor/
#BD CON
db_connection.php
stripe_keys.php
pagina_pago_tarjeta.php

# Logs
*.log

# IDEs
.vscode/
.idea/

# Temp files
*.tmp
*.swp
